<div class="min-h-screen flex items-center justify-center bg-[#d5d1ff]">
  <div class="max-w-md px-4 py-8 bg-white shadow-lg rounded-md">
      <h1 class="text-2xl font-bold mb-4 text-center text-green-600">Contactez l'administrateur</h1>
      <p class="text-gray-700 text-center mb-6">Vous n'avez pas la permission d'accéder à cette page. Veuillez contacter l'administrateur pour obtenir l'autorisation nécessaire.</p>
      <div class="text-center"><i class="fa-solid fa-envelope text-4xl text-[#d5d1ff]"></i></div>
  </div>
</div>
