<div class="flex flex-col justify-center items-center h-screen lg:px-0 px-4 bg-[#d5d1ff]">
  <h2 class="text-3xl font-semibold mb-6">Mot de passe oublié</h2>
  <form (ngSubmit)="onSubmit()" class="w-full lg:w-96">
    <div class="form-group mb-4">
      <label for="email" class="block mb-2">Email address:</label>
      <input type="email" class="pl-4 border w-full rounded py-2" id="email" [(ngModel)]="email" name="email" placeholder="Enter your email">
    </div>
    <button type="submit"
    class="w-full bg-[#6358DC] text-white font-semibold py-2 px-4 rounded hover:bg-purple-800 transition duration-200"
   [disabled]="!email || !isValidEmail(email)">Valider</button>
  </form>
  <a href="/" class="mt-4 text-purple-700 hover:text-purple-900">Retourner Accueil</a>
</div>
