
<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="text-center">
    <h1 class="text-4xl font-bold text-gray-800 mb-4">Oops! Page Non Trouvée</h1>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-32 h-32 text-gray-600 mx-auto mb-4 animate-bounce">
      <path fill="none" d="M0 0h24v24H0V0z"/>
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"/>
    </svg>

    <p class="text-gray-600 mb-4">Désolé, la page que vous recherchez pourrait avoir été supprimée, son nom a changé, ou est temporairement indisponible.</p>
    <a routerLink="/" class="text-blue-500 font-bold hover:underline block mb-8">Retourner à la Page d'Accueil</a>
  </div>
</div>
