<div
  class="flex lg:flex-row flex-col justify-center items-center h-screen lg:px-0 px-4 bg-[#d5d1ff]"
>
  <div class="lg:w-1/2 p-8">
    <img [src]="imageUrl" class="w-[80%]" alt="" />
  </div>
  <div class="bg-[#e9e7fd] p-8 rounded shadow-md w-full sm:w-1/2 lg:w-1/3">
    <h2 class="text-xl font-medium mb-2">Bienvenue à</h2>
    <h1 class="text-2xl font-semibold text-[#6358DC]">GCE-RADEEJ</h1>
    <form (submit)="onSubmit()" class="flex justify-center items-center flex-col gap-3">
      <div class="flex items-start px-4">
        <div
          class="text-center lg:w-96 w-72 border rounded px-3 py-2 mt-1 bg-indigo-200 cursor-pointer"
        >
          <i
            class="fab fa-google google-icon mr-2 text-gradient-to-r from-green-500 to-blue-500 via-red-500"
          ></i>
          Connectez-vous avec Google
        </div>
      </div>

      <hr class="border-t border-spacing-2 border-gray-300 my-2" />

      <div class="flex items-center px-4">
        <div class="relative">
          <i class="fas fa-envelope absolute top-4 left-3 text-gray-400"></i>
          <input
            type="email"
            id="username"
            name="username"
            class="pl-10 lg:w-96 border w-72 rounded py-2 mt-1"
            placeholder="example@example.com"
            pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"
            title="S'il vous plaît, mettez une adresse email valide"
            [(ngModel)]="email"
            required
          />
        </div>
      </div>

      <div class="flex items-center">
        <div class="relative">
          <i class="fas fa-lock absolute top-4 left-3 text-gray-400"></i>
          <input
            type="password"
            id="password"
            name="password"
            class="pl-10 lg:w-96 w-72 border rounded px-3 py-2 mt-1"
            placeholder="Entrez un mot de passe fort"
            pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}"
            title="Le mot de passe doit comporter au moins 8 caractères, contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial."
            minlength="8"
            maxlength="20"
            [(ngModel)]="password"
            required
          />
        </div>
      </div>
      <div class="flex flex-row items-center justify-between lg:w-96 w-72">
        <div class="flex flex-row gap-1">
          <input class="active:bg-green-600" type="checkbox" name="" id="" />
          <a href="http://">Souviens-moi</a>
        </div>
        <div>
          <a class="text-[#6358DC]"routerLink="/ForgotPassword">Mot de passe oublié?</a>
        </div>
      </div>
      <button
        type="submit"
        class="lg:w-96 w-72 bg-[#6358DC] text-white font-semibold py-2 px-4 mt-1 rounded hover:bg-blue-800 transition duration-200"
      >
        Se connecter
      </button>
      <div class="flex items-center mt-8">
        <div class="flex flex-row">
          <p>Je n'ai pas de compte?</p>
          <a class="text-[#6358DC] focus" routerLink="/register">Register</a>
        </div>
      </div>
    </form>
  </div>
</div>
